body {
  -webkit-appearance: none;
  /* background-color: #eef5ee; */
  /* background-color: #dee9de; */
  /* background-color: oldlace; */
  /* background-color: l; */
  background-color: floralwhite;
  /* background-color: rgba(12, 12, 12, 0.7); */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCalendarPicker-root {
  background-color: grey;
  color: white;
}
.MuiCalendarPicker-root .PrivatePickersSlideTransition-root {
  min-height: 240px;
}
.MuiCalendarPicker-root .PrivatePickersFadeTransitionGroup-root {
  color: lightgoldenrodyellow;
}

.MuiCalendarPicker-root .MuiTypography-root {
  color: lightgoldenrodyellow;
}
.MuiCalendarPicker-root .MuiSvgIcon-root {
  color: floralwhite;
}
.MuiCalendarPicker-root .MuiButtonBase-root:hover {
  background-color: rgb(196, 215, 218);
}
/* .data-grid-header {
  font-weight: 900 !important;
} */
